.footer {
    padding-top: 5%;
    padding-bottom: 2%;
    &__item {
        margin-top: 5%;
        text-align: center;
    }
}

.links {
    width: 55%;
    margin: 0 auto;
    justify-content: space-around;

    &__link {
        text-decoration: none;
    }
}

