
.nav {
    padding-left: 4%;
    justify-content: center;
    &__item {
        padding: 1.5% 2%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        
        &--curr,&:hover {
            padding: 1.6% 3%;
            background-color: #3f3f3f;
            .nav__link {
                color: white;
            }
        }
    }

    &__link {
        width: $wrapsize;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

}

