$wrapsize: 100%;

@import "../reset/reset.scss";
@import "../header/header.scss";

.df {
    display: flex;
}

.wrapper {
    width: 78%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
