.introduction {
    margin-top: 13%;
    padding-bottom: 11%;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid lightgray;
    
    &__logo {
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 100px;
        background-color: #df6267;
        color: white;
    }

    &__heading {
        padding-top: 5%;
        text-align: center;
        font-size: 54px;
        font-weight: bold;
    }
}

.description {
    padding: 12% 0 9%;
    border-bottom: 2px solid lightgray;

    .text {
        margin-top: 3%;
    }

}

.heading,
.text {
    text-align: center;
}

.heading {
    font-size: 32px;
    font-weight: bold;
    color: lighten(black, 20%);
}

.text {
    line-height: 2;
    font-size: 22px;
    color: gray;
}