
.introduction {
    margin-top: 13%;
    padding-bottom: 11%;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid lightgray;
    
    &__logo {
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 100px;
        background-color: #df6267;
        color: white;
    }

    &__heading {
        padding-top: 5%;
        text-align: center;
        font-size: 54px;
        font-weight: bold;
    }
}

.description {
    padding: 12% 0 9%;
    border-bottom: 2px solid lightgray;

    .heading {
        font-size: 32px;
    }

    .text {
        margin-top: 3%;
    }

}

.heading,
.text {
    text-align: center;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: lighten(black, 20%);
}

.text {
    line-height: 2;
    font-size: 22px;
    color: gray;
}

.portfolio {
    &__text {
        padding: 2% 0 0 1%;
        justify-content: space-between;
    }

    &__subheading {
        font-size: 23px;
        color: lighten(black, 20%);
    }

    &__container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 6% 0 5%;

    }

    &__item {
        margin-bottom: 6%;
        width: $wrapsize/3.2;
        height: 37vh;

        &>* {
            display: block;
            width: $wrapsize;
            height: $wrapsize;
        }
    }

    &__img {
        width: $wrapsize;
        height: $wrapsize;
    }
}

.blog {
    &__item {
        padding-bottom: 4%;
        border-bottom: 3px solid lightgray;

        &:nth-child(n+2) {
            padding-top: 8%;
        }
    }



    &__wrap {
        text-align: center;
    }
    &__link {
        padding: 2.1% 8.1%;
        text-decoration: none;
        border-radius: 7px;
        font-size: 21px;
        font-weight: bold;
        background-color: #df6267;
        color: white;
    }

    .heading {
        margin-top: 4%;
    }

    &__subheading {
        margin-top: 4%;
        text-align: center;
        font-size: 22px;
        color: gray;
    }

    .text {
        margin-top: 3%;
    }


}